# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bin/
obj/

# ASP.NET
project.lock.json
project.json
*.ncb
*.sdf
*.opensdf
*.suo
*.cache
*.ilk
*.log
*.pdb

# NuGet Packages
*.nupkg
*.snupkg
packages/

# User secrets
secrets.json

# Azure Web Apps publish settings
*.Publish.xml
# Visual Studio Code
.vscode/

# JetBrains Rider
.idea/
