@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Maven+Pro&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Maven Pro';
    color: rgb(25, 39, 51);
}
h1{
    color: rgb(204, 160, 110);
    text-shadow: 2px 2px 4px black;
    font-family: Lobster;
    text-align: center;
    font-size: 80px;
}
header{
    background: linear-gradient(to top, rgba(206, 165, 42, 0.11),
    rgba(83, 64, 12, 0.685)); 
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 100%;
}
.contenedor{
    width: 100%;
    padding: 50px 20px;
    background-color: rgb(111, 140, 206);
    margin: auto;
    display: flex;
    justify-content: space-between;
    contain: paint;
}
.contenedor .contenedor-items{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 30px;
    grid-row-gap: 30px;
    width: 60%;
    transition: .3s;
}
.contenedor .contenedor-items .items{
    max-width: 200px;
    padding:  0 40px ;
    margin: auto;
    background-color: rgb(23, 125, 214);
    border: 1px solid rgba(0, 0, 0, 0.911);
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}
.contenedor .contenedor-items .items:hover{
    box-shadow: 0 0 27px #a1df84;
    scale: 1.05;
}
.contenedor .contenedor-items .items .img-item{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 15px 15px 0;
    align-items: center;
    justify-content: center;
    transition: .3s;
}
.contenedor .contenedor-items .items .titulo-item{
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
}
.contenedor-items .items .precio-item{
    display: block;
    text-align: center;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: solid;
}
.contenedor-items .items .boton-item{
    display: block;
    margin: 10px auto;
    border: solid rgba(7, 53, 13, 0.582);
    background-color: #58a336;
    color: black;
    padding: 5px 15px;
    border-radius: 4px;
    cursor: pointer;
    width: 50px;
    height: 25px;
    padding: 0 10px;
    /*box-shadow:0 0 7px #a1df84;*/
}
.contenedor-items .items .boton-item i{
    color: rgb(17, 63, 8);
}
/*carro*/
.carro{
    border: 1px solid black;
    width: 35%;
    margin-top: 30px;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top: 0;
    transition: .3s;
}
.carro .cabezal-carro{
    background-color: #58a336;  
    text-align: center;
    padding: 30px 0;
}
.carro .carro-items{
    display: flex;
    flex-direction: column;/*esto se lo agregue yo, en el original no esta*/
    align-items: center;
    position: relative;
    border-bottom: 1px solid wheat;
    padding: 20px 0;
}
.carro .carro-items img{
    margin-right: 20px;
    padding: 0 20px 0;
}
.carro .carro-items .carro-items-titulo{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.carro .carro-items .selector-cantidad{
    display: inline-block;
    margin-right: 25px;
}
.carro .carro-items .carro-cantidad{
    border: none;
    font-size: 18px;
    background: transparent;
    display: inline-block;
    width: 30px;
    padding: 5px;
    text-align: center;
}
.carro .carro-items .selector-cantidad i{
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
}
.carro .carro-items .carro-precio{
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}
.carro .carro-items .bt-eliminar {
    position: relative;
    right: 16px;
    top: 16px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index: 20;
}
.carro .carro-items .bt-eliminar i{
    pointer-events: none;
    color: #58a336;
}
.carro-total{
    padding: 30px;
    background-color: bisque;
}
.carro-total .fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 10px;
}
.carro-total .btn-pagar{
    display: block;
    width: 100%;
    border: none;
    background: yellow;
    color: violet;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}
.carro-total .btn-pagar:hover{
    scale: 1.05;
}
/*responsive */
@media screen and (max-width: 850px){
    .contenedor{
        display: block;
    }
    .contenedor-items{
        width: 100% !important;
    }
    .carro{
        width: 100% !important;
    }
}
